/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/media
.htaccess
/storage/app/public
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
supervisord.log
supervisord.pid
storage/logs
*.pdf
demo/
stg/
uae.hero-experiences.com/
public/pdf/
public/oldwordpress/